<div class="underlined-headline">
  <h1>Blog</h1>
  <div class="headline"></div>
</div>

<% @posts.each do  |post|%>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= post.title %> </h2>
    <p><% post.descripton %></p>
  </div>
</div>
<%= link_to "See this blog post", blog_post_path(post), class: "btn-blue d-flex" %>
<% end %>

<%= link_to "Add a new post", new_blog_post_path, class: "btn-black d-flex" %>
