<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-house"></i></a>
    <a href="#"><i class="fa-solid fa-users"></i></a>
    <a href="#"><i class="fa-solid fa-circle-plus fa-2x neon-icon "></i></a>
    <a href="#"><i class="fa-solid fa-newspaper"></i></a>
    <a href="#"><i class="fa-solid fa-user-secret"></i></a>

</div>
