<h1>Daily Motivational</h1>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t4.ftcdn.net/jpg/05/26/71/31/240_F_526713151_9lRoSVdEiUsQuqPM5HzcwVvWvqTNk74s.jpg)">
      <% motivational_quotes = [
        "Success is not final, failure is not fatal: It is the courage to continue that counts. - Winston Churchill",
        "The only way to do great work is to love what you do. - Steve Jobs",
        "Believe you can and you're halfway there. - Theodore Roosevelt",
        "Don't watch the clock; do what it does. Keep going. - Sam Levenson",
        "The future belongs to those who believe in the beauty of their dreams. - Eleanor Roosevelt",
        "It does not matter how slowly you go as long as you do not stop. - Confucius",
        "Your time is limited, don't waste it living someone else's life. - Steve Jobs",
        "The only limit to our realization of tomorrow will be our doubts of today. - Franklin D. Roosevelt",
        "Hardships often prepare ordinary people for an extraordinary destiny. - C.S. Lewis",
        "The only person you should try to be better than is the person you were yesterday. - Matty Mullins",
        "The road to success and the road to failure are almost exactly the same. - Colin R. Davis",
        "Believe in yourself, take on your challenges, dig deep within yourself to conquer fears. - Chantal Sutherland",
        "Don't be pushed around by the fears in your mind. Be led by the dreams in your heart. - Roy T. Bennett",
        "Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful. - Albert Schweitzer",
        "The best way to predict the future is to create it. - Peter Drucker"
      ]
      %>
      <%= motivational_quotes.sample %>
  </div>
