<% @personal_participation = ChallengeParticipation.all%>

<!-- New card design -->

<div class="underlined-headline">
  <h2>My challenges</h2>
  <div class="headline"></div>
</div>

<div class="cards-challenges my-5">
  <% @personal_participation.each do  |participation|%>
    <% if participation.user = current_user %>
      <%= link_to challenge_path(participation.challenge) do %>
        <div class="card-challenge" >
          <div class="card-challenge-infos"></div>
          <div class="card-challenge-progress">
            <div class="card-challenge-icon-title">
              <div class="card-challenge-icon">
                <%= image_tag "meditation-new.png", height: 20, width: 20 %>
              </div>
              <div class="card-challenge-title">
                  <p> <%= participation.challenge.title %> </p>
              </div>
            </div>
            <div class="card-challenge-progress-boxes">



                 <% #adding the logic to the check boxes %>
                 <% markers = ChallengeCompletion.all %>
                  <% one_week = (Date.today.at_beginning_of_week..Date.today.at_end_of_week).to_a %>
                  <% one_week.each do |day| %>
                  <% counter = 0 %>
                  <% # es sei denn marker day = wie der day  %>
                           <% markers.each do |marker| %>
                                <% if marker.created_at.to_date == day %>
                                    <% counter += 1 %>
                                <% end %>
                           <% end %>
                      <% if counter.positive? %>
                      <div class = "checked">
                                        </div>
                      <% else %>
                      <div class = "checkbox">
                                        </div>
                      <% end %>


                  <% end %>

            </div>
            <div href="#" class="check-button">
              <%= image_tag "check.png", height: 32, width: 32 %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
