<div class="underlined-headline">
  <h1>Welcome to Step by StApp</h1>
  <div class="headline"></div>
</div>

  <%= render "motivation"  %>

<div class="underlined-headline">
  <h2>My challenges</h2>
  <div class="headline"></div>
</div>

<%= render "personal_challenges"  %>