<div class="underlined-headline">
  <h1>Welcome to Step by StApp</h1>
  <div class="headline"></div>
</div>

<%#= render "completed_cards"  %>
<%= render "motivation"  %>
<%= render "personal_challenges"  %>
