                   <% markers =  current_user.challenge_participations.where(challenge: @challenge).map(&:challenge_completions) %>
                  <% one_month = (Date.today.at_beginning_of_month..Date.today.at_end_of_month).to_a %>
<div class="card-challenge-progress-boxes-month-start"> <div><%= one_month.first.beginning_of_week %></div>
                  <% one_month.each do |day| %>
                  <% counter = 0 %>
                    <% # es sei denn marker day = wie der day  %>
                        <% markers.each do |completions| %>
                            <% completions.each do |marker|  %>
                                <% if marker.created_at.to_date == day %>
                                  <% counter += 1 %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% if counter.positive? %>
                       <% if day.wday == 0 %>
                          <div class = "checked"> </div>
                          </div>
                          <br>
                          <div class="card-challenge-progress-boxes-month">
                          <div><%= day.tomorrow %></div>
                       <% else %>
                          <div class = "checked"> </div>
                       <% end %>
                    <% else %>
                      <% if day.wday == 0 %>
                          <div class = "checkbox"> </div>
                        </div>
                          <br>
                          <div class="card-challenge-progress-boxes-month">
                          <div><%= day.tomorrow %></div>
                       <% else %>
                          <div class = "checkbox"> </div>
                       <% end %>
                    <% end %>
                  <% end %>

</div>
