<h1> Here is the challenges index page </h1>

<%= link_to "Add a new challenge", new_challenge_path %>
<ul>

    <% @challenges.each do  |challenge|%>
      <% #see all public challenges also the one you already picked  %>
        <% if challenge.public %>
            <li>
                <%= challenge.title %>
                <%= link_to "See this challenge", challenge_path(challenge) %>
            </li>
        <% end %>
    <% end %>
</ul>
