<h1> This is the challenge show page (where one challenge is displayed) </h1>

<%= link_to "See all challenges", challenges_path %>
<%= link_to "Edit challenge", edit_challenge_path %>
<%= link_to "join this challenge",challenge_challenge_participations_path(@challenge) %>
