.btn-primary {
  padding: 8px 24px;
  margin: 8px 0px 8px 0px;
  border-radius: 50px;
  font-weight: bold;
  background: #56CFE1;
}

.btn-primary a {
  text-decoration: none;
  color: white;
}

.btn-primary button {
  text-decoration: none;
  color: white;
}

.btn-secondary {
  padding: 8px 24px;
  margin: 8px 0px 8px 0px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #56CFE1;
  background: black;
}

.btn-secondary a {
  text-decoration: none;
  color: white;
}