.btn-blue {
  padding: 8px;
  margin: 8px 0px 8px 0px;
  border-radius: 50px;
  font-weight: bold;
  background: #56CFE1;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.btn-blue a {
  color: white;
}

.btn-blue button {
  color: white;
}

.btn-black {
  padding: 8px 24px;
  margin: 8px 0px 8px 0px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #56CFE1;
  background: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.btn-black a {
  color: white;
}

.btn-black button {
  color: white;
}

.btn-submit-blue {
  background: #56CFE1;
  color: white;
  border-radius: 50px;
  margin-left: 8px;
}

// Buttons to tick and undo checkboxes of challenges

.check-button {
  background: linear-gradient(180deg, #B6139F, #5E60CE, #80FFDB);
  color: white;
  border-radius: 50%;
  padding: 8px;
  margin: 16px 8px 16px 8px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  border: none;
}

.uncheck-button {
  background: linear-gradient(180deg, rgba(182, 19, 159, 0.6), rgba(94, 96, 206, 0.6), rgba(128, 255, 219, 0.6));
  color: white;
  border-radius: 50%;
  padding: 8px;
  margin: 16px 8px 16px 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  border: none;
}