.card-quote {
  height: 180px;
  padding: 4px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

// Here is the new challenge card design

.card-challenge {
  background-color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
  border: 2px solid white;
  padding: 4px;
}

.card-challenge-infos {
  height: 28px;
  width: 100%;
  padding: 2px;
  border-bottom: 1px solid #9D9D9D;
}

.card-challenge-progress {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: black;
  position: relative;
}

.card-challenge-progress .card-challenge-icon-title {
  left: 0px;
  top: -14px;
  height: 30px;
  padding: 4px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.card-challenge-icon-title {
  height: 100%;
  display: flex;
  padding-left: 4px;
}

.card-challenge-icon {
  height: 100%;
  margin-right: 2px;
  background-color: black;
}

.card-challenge-title {
  height: 100%;
  margin-left: 2px;
  font-size: 12;
}

.card-challenge-title p {
  text-decoration: none;
  color: white;
}

.card-challenge-progress-boxes {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.checkbox {
  background-color: #54525E;
  height: 20px;
  width: 20px;
  margin: 0px 8px 0px 8px;
  border-radius: 3px;
}

.check-button {
  background: linear-gradient(180deg, #B6139F, #5E60CE, #80FFDB);
  color: black;
  border-radius: 50%;
  padding: 8px;
  margin-right: 8px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}






/* ui kit le wagon  */
.card-product {
  overflow: hidden;
  height: 120px;
  background: rgb(92, 0, 0);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
