// General stylings

a {
  text-decoration: none;
}

// Here is the card for the motivational quote

.card-quote {
  height: 180px;
  padding: 4px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


// Here is the card for the challenges overview

.card-challenge {
  background-color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 8px 0px 8px 0px;
  padding: 8px;
}

.card-challenge-infos {
  height: 28px;
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid #9D9D9D;
  box-shadow: 0 8px 6px -8px #9D9D9D;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-challenge-progress {
  height: 64px;
  width: 100%;
  padding: 8px 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card-challenge-progress .card-challenge-icon-title {
  left: 0px;
  top: -22px;
  height: 40px;
  padding: 4px;
  position: absolute;
}

.card-challenge-icon-title {
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-challenge-icon {
  height: 100%;
  margin: 0px 4px 0px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-challenge-title {
  color: white;
  height: 100%;
  margin: 0px 4px 0px 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-challenge-progress-boxes {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.card-challenge-progress-boxes-month-start {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
}

.card-challenge-progress-boxes-month {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
}

.checkbox {
  background-color: #54525E;
  height: 20px;
  width: 20px;
  margin: 0px 8px 0px 8px;
  border-radius: 3px;
}

.checked {
  background-color: #52d1ff;
  height: 20px;
  width: 20px;
  margin: 0px 8px 0px 8px;
  border-radius: 3px;
}

.completion {
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  margin: 0px 8px 0px 8px;
  border-radius: 3px;
}

.completion-done {
  background-color: #01ad7d;
  height: 20px;
  width: 20px;
  margin: 0px 8px 0px 8px;
  border-radius: 3px;
}

.check-button {
  background: linear-gradient(180deg, #B6139F, #5E60CE, #80FFDB);
  color: black;
  border-radius: 50%;
  padding: 8px;
  margin: 16px 8px 16px 8px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  border: none;
}

// Here is the challenge details card

.challenge-details {
  background-color: black;
  color: #9D9D9D;
  border-radius: 4px;
  margin: 16px 0px 8px 0px;
  padding: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 0px 15px rgba(86, 207, 225, 0.8);
}

.challenge-description {
  margin: 2px;
  padding: 4px;
  width: 60%;
}

.challenge-goal-duration {
  color: white;
  width: 40%;
  height: 100%;
  margin: 2px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.weekly-goal {
  margin: 2px 2px 6px 2px;
  padding: 2px;
  text-align: end;
}

.duration {
  margin: 6px 2px 2px 2px;
  padding: 2px;
  font-size: 12px;
  text-align: end;
}

.duration p {
  margin-bottom: 0.1rem;
}

// Here is the category card design

.card-category {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-category i {
  margin: 0px 4px 0px 0px;
}

.sports {
  color: #B6139F;
}

.mindfulness {
  color: #80FFDB;
}

.self-organisation {
  color: #56CFE1;
}

.studying {
  color: #4EA8DE;
}

.nutrition {
  color: #5E60CE;
}

.others {
  color: #7400B8;
}

// Here is the card for the blog posts overview

.card-blog-post {
  overflow: hidden;
  height: 80px;
  background: black;
  margin-bottom: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-blog-post img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-blog-post h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-decoration: none;
}

.card-blog-post p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
  text-decoration: none;
}

.card-blog-post .card-blog-infos {
  height: 100%;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

// Here is the card for the blog posts details

.image-content {
  background-size: cover;
  background-position: center;
  height: 160px;
  margin-left: -16vw;
  padding-left: 16vw;
  margin-right: -16vw;
  padding-right: 16vw;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-challenge-connected {
  background-color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 0px 0px 40px 0px;
  padding: 4px;
}

.card-blog-info {
  color: white;
  height: 100%;
  margin: 0px 4px 0px 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 8px 6px -8px #9D9D9D;
  position: relative;
}

.card-blog-title {
  height: 40px;
  width: 100%;
  padding: 8px 0px 2px 8px;
  border: 1px solid #9D9D9D;
  box-shadow: 0 8px 6px -8px #9D9D9D;
  display: flex;
  align-items: end;
  justify-content: flex-start;

}

.card-blog-category {
  background-color: black;
  position: absolute;
  left: 0px;
  top: -16px;
  height: 24px;
  padding: 4px;
}
