.chatroom {
  background: rgb(0, 0, 0);
  border: 1px solid $gray-200;
  margin-top: 8px;
  margin-bottom: 16px;
  height: calc(100vh - 175px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    margin-bottom: 0;
    padding: 0px 0px 0px 20px;
  }

  .message-challenge-category {
    margin-left: 20px;
    margin-bottom: 8px;
  }

  .messages {
    border-top: 1px solid $gray-200;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}