.footer {
  position: fixed;
  bottom: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  box-shadow: 16px -5px 23px -5px rgba(180, 180, 180, 0.3)
}

.footer-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.footer-links a {
  color: black;
  opacity: 0, 85;
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.footer-links a:hover {
  opacity: 1;
}

.neon-icon {
  color: #ff00f7;
  /* Neon color */
  text-shadow: 0 0 10px #449144, 0 0 10px #d80b4c, 0 0 30px #ffffff, 0 0 60px #043566;
}

.avatar-picture img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}