.underlined-headline {
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px;
}

.headline {
  border-bottom: 4px solid white;
  width: 50%;
}

h2 {
  font-size: 20px;
  margin-left: 20px;
}