.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding: 1px;
  box-shadow: 16px 20px 23px -5px rgba(180, 180, 180, 0.3)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.navbar-lewagon a {
  color: white;
}

.navbar-toggler {
  color: white;
  background-color: white;
  border: 1px solid white;
}